{
  "plugins": [
    "transform-runtime",
    "ramda",
    ["lodash", { "id": ["lodash", "recompose", "material-ui"] }]
  ],
  "presets": ["es2015", "stage-0", "react"],
    "env": {
      "development": {
        "presets": ["react-hmre"]
      }
    }
  }
  