
html, body, #root {
    height: 100%;
}

html, body {
    font-size: 16px;
}
body {
    font-family: "Roboto", sans;
    box-sizing: border-box;
    background: #eceff4;
    color: #514d6a;
    margin: 0;
    overflow-x: hidden;
}

a {
    display: block;
    color: #ececec;
    text-decoration: none;
    -webkit-transition: all 0.05s ease-in-out;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
}

a:hover, a:focus {
    color: #bebdc2;;
    text-decoration: none;
    -webkit-transition: all 0.05s ease-in-out;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
}
ul {
    list-style-type: none;
}

ul, li {
    margin: 0;
    padding: 0;
}